{%load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Harsh Rajput - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Harsh Rajput." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="{%static 'css/style.css'%}">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="{%static 'images/my.png'%}" alt="Harsh Rajput" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">Harsh Rajput</h1>
				<h2 class="quickFade delayThree">IT undergrad at Manipal University Jaipur</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li> rharshrajput.99@gmail.com</li>
					<li> 9810600041</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article>
					<div class="sectionTitle">
						<h1>Introduction</h1>
					</div>

					<div class="sectionContent">
						<p>Seeing an opportunity as a Software Developer intern. Passionate about learning new
							technologies, and solving real-world problems. Proficient in Python with in-depth knowledge
							Of object-oriented concepts, Data-Structures, Algorithms and python based frameworks like
							Flask and Django. Completed Hacktoberfest2020 challenge and provided a solution of an
							Intermediate problem<a
								href="https://github.com/girlscript-blr/code-with-girlscript-bangalore/tree/master/Medium/4.%20Digital%20Hospital%20Manager">Digital
								Hospital Manager</a>. Click <a
								href="https://github.com/girlscript-blr/code-with-girlscript-bangalore/tree/solution/Medium/4.%20Digital%20Hospital%20Manager/solutions/HarshRajput-DHM-Medium">
								here</a> to view solution.

						</p>
					</div>
				</article>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Projects</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Digital Hospital Manager</h2>
						<p class="subDetails">October-2020</p>
						<p>A CLI program that maintain the medical record of each patient of a hospital ,depending upon
							the symptoms and age, map the patient to proper severity level(mild or severe), add new
							patients or update patient's details when prompted, fetch one patient’s details by Patient
							ID. <b><a
									href="https://github.com/4doctorstrange/Digital-Hospital-Management-Medium">View</a></b>
						</p>
					</article>

					<article>
						<h2>IPL Management App</h2>
						<p class="subDetails">December 2020</p>
						<p>A web-application based on Flask ramework whick keeps track of team details, sets up match
							fixtures, and maintains
							scores & points table as the tournament proceeds. <b><a
									href="https://github.com/4doctorstrange/IPL-Management-APP-HARD">View</a></b></p>
					</article>

					<article>
						<h2>Personal Portfolio</h2>
						<p class="subDetails">January 2020</p>
						<p>A personal website based on Django framework. <b><a href="#">View</a></b></p>
					</article>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Key Skills</h1>
				</div>

				<div class="sectionContent">
					<ul class="keySkills">
						<li>Python</li>
						<li>Java</li>
						<li>SQL</li>
						<li>Django</li>
						<li>Algorithms</li>
						<li>Data Structures</li>
						<li>Git</li>
						<li>Problem Solving</li>
					</ul>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Manipal University Jaipur</h2>
						<p class="subDetails">B.Tech(IT), 2018-2022</p>
						<p>CGPA-8.31</p>

					</article>

					<article>
						<h2>Delhi Public School Ghaziabad</h2>
						<p class="subDetails">Senior Secondary, 2016-2018</p>
						<p>Percentage-91</p>
					</article>
				</div>
				<div class="clear"></div>
			</section>




		</div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
</body>

</html>